<%- include('header.ejs') %>

  <div class="container">
    <h3>
      <%= title %>
    </h3>

    <% // Verificar si el usuario está logado %>
      <% if (!session.userId) { %>

        <!-- Contenido para usuarios NO logados -->
        <p>Para ver el contenido debes hacer <a href="/login">login</a></p>

        <% } else { %>

          <!-- Contenido para usuarios logados -->
          <p>Usuario: <%= session.userName %>
          </p>
          <h4>Mis productos</h4>

          <!--Si products existe y tiene al menos un producto se mostrarán en una lista.-->
          <% if (products && products.length> 0) { %>
            <% products.forEach(product=> { %>
              <p>
              <h5><strong>
                  <%= product.name %>
                </strong></h5>

              <!--Si hay imagen se muestra cogiendola de la carpeta photos, si no imagen de placehold-->  
              <img 
              src="<%= product.photo ? `/photos/${product.photo}`: 'https://placehold.co/170'%>" 
              alt="photo" 
              width="170"
              >

              <ul>
                <%= product.price %>
              </ul>
    
        
              <ul>
                <%= product.tags %>
              </ul>
              <a href="/product/delete/<%= product.id %>">
                <i class="bi bi-trash"></i> <!-- Icono para borrar -->
              </a>
              </p>
              <% }) %>


                <!--Si products está vacío o no existen productos, mostramos el mensaje-->
                <% } else { %>
                  <p>No tienes productos publicados.</p>
                  <% } %>
                    <% } %>
  </div>

  <%- include('footer.ejs') %>